{% load honeypot %}

<p class="info valid center demand-confirmation" hidden="">Votre message a bien était envoyé, nous vous répondrons dans les meilleurs délais</p>
<p class="info warning center check-something" hidden="">Il y avoir eu une erreur lors de l'envoi, notre e-mail a@b.c reste disponible</p>
<form class="form" action="" method="post">
    {% csrf_token %}
    {% render_honeypot_field "firstname" %}
    {{ basket_static_form.as_p }}
    <input class="btn btn-lblue" type="submit" value="Je veux m'abonner" />
</form>
