{% extends "core.html" %}

{% block content %}
{% include 'pages/generic.html' %}

<div style="padding: 5vh 15vw;">
    <h2 id="-dition-du-site">Édition du site</h2>
    <p><strong>Abeilles Aide et Entraide</strong><br>
    <strong>E-mail</strong> : contact<i class="fas fa-at"></i>asso-abeilles.fr<br>
    <strong>Téléphone</strong> : 01.69.48.88.43</p>
    <p><strong>Association loi 1901</strong><br>
    <strong>SIRET</strong> n°418 419 438 00050<br>
    <strong>APE</strong> n°8121Z</p>
    <p><strong>Siège social</strong> :<br>
    Abeilles Aide et Entraide<br>
    125 rue Ferdinand Buisson<br>
    91210 Draveil </p>

    <p><strong>Directrice de la publication</strong> :<br>
    Gwenaelle Duchemin</p>


    <h2 id="h-bergement">Hébergement</h2>
    <p>Ce site est hébergé par la société PlanetHoster.<br>
    <strong>Sur ses serveurs francais</strong></p>

    <p><strong>PLANETHOSTER</strong><br>
    <strong>TPS</strong> : 808598932 RT0001<br>
    <strong>TVQ</strong> : 1220427184 TQ0001</p>

    <p>4416 Louis B. Mayer<br>
    Laval (Grand Montréal),<br>
    Québec H7P 0G1
    Canada</p>

    <p><strong>Tél FR</strong> (Nº Vert): 0 805 080 426<br>
    <strong>Tél FR</strong>: +33 1 76 60 41 43<br>
    www.planethoster.com</p>

    <h2 id="propri-t-intellectuelle-et-cr-dits">Propriété intellectuelle et crédits</h2>

    <p>
    Photographies et textes : Abeilles Aide et Entraide<br>
    Code source : Gino Ladowitch & Adrien Kara<br>
    Typographie text &quot;Creato Display&quot; sous licence &quot;SIL OFL 1.1&quot; : Anugrah Pasau<br>
    Typographie icons &quot;Font Awesome 5&quot; sous licence &quot;SIL OFL 1.1 / CC BY 4.0 / MIT&quot;
    </p>

    <p>
    La structure générale du site Internet abeilles-aide-entraide.fr ainsi que l’ensemble des contenus qui y sont diffusés (notamment les images, articles, photographies, illustrations, signes distinctifs, logos, marques, vidéos, interviews, sons et textes, bases de données) sont protégés par la législation en vigueur en France en matière de propriété intellectuelle.
    </p>

    <h2 id="utilisation-des-cookies">Utilisation des Cookies</h2>
    <p>Ce site n&#39;utilise aucun cookie de suivi, d’adaptation du contenue ou de créations de statistiques.
    Seul deux cookies de fonctionnement sont attribue, CSRF (securite), session (pour la connection administrateur)</p>
    <h2 id="-volution-de-la-confidentialit-">Évolution de la confidentialité</h2>
    <p>La présente Politique de confidentialité peut être amenée à évoluer, notamment en raison des évolutions législatives et réglementaires. </p>
    <h2 id="politique-de-confidentialit-">Politique de confidentialité</h2>
    <p>Abeilles Aide et Entraide attache une grande importance à la protection des données à caractère personnel. Dans ce cadre, la présente Politique de confidentialité vous permettra de comprendre quelles données à caractère personnel nous collectons et ce que nous en faisons, ainsi que la façon dont vous pouvez protéger votre vie privée dans le cadre des services que nous fournissons. </p>
    <h3 id="1-quel-sont-les-donn-es-vous-concernant-que-nous-collectons-">1. Quel sont les données vous concernant que nous collectons ?</h3>
    <p>Dans le cadre de la commande d&#39;un service fournis par Abeilles Aide et Entraide, nous collectons les catégories de données suivantes :</p>
    
    <p>- Données <span class="hljs-keyword">d</span>’identification : nom, <span class="hljs-keyword">pr</span>énom, adresse postale et courriel, numéro <span class="hljs-keyword">de</span> té<span class="hljs-keyword">l</span>éphone, numéro client·<span class="hljs-keyword">e</span>·s.<br>
    - Données <span class="hljs-keyword">de</span> paiement : moyen <span class="hljs-keyword">de</span> paiement, factures.<br>
    - Données <span class="hljs-keyword">d</span>’usage : services souscrits, consommations, communications.<br>
    - Données <span class="hljs-keyword">de</span> suivi <span class="hljs-keyword">de</span> <span class="hljs-keyword">la</span> relation Client·<span class="hljs-keyword">e</span> : demandes <span class="hljs-keyword">d</span>’assistance, correspondance avec le·a client·<span class="hljs-keyword">e</span>. 
    </p>
    
    <h3 id="2-de-quelle-fa-on-utilisons-nous-vos-donn-es-">2. De quelle façon utilisons nous vos données ?</h3>
    <p>Abeilles Aide et Entraide utilise vos données pour les besoins de l’exécution et de la gestion du contrat. Ceci comprend la relation contractuelle, l’installation, la maintenance et la gestion du service souscrit ou produit commandé, la délivrance d’une assistance et le traitement de vos demandes, la facturation du service ou produit, la gestion des réclamations, différends et les procédures de recouvrement.</p>
    
    <p>Ces données sont conservées pendant le temps nécessaire à la gestion du contrat et/ou pendant la durée légale. Sans ces données, nous ne pourrions pas honorer les prestations commandées. </p>

    <p>Abeilles Aide et Entraide pourra également utiliser vos données afin de respecter ses obligations légales (incluant les lois anti-fraude, les lois sur le blanchiment d’argent et les dispositions concernant le retard ou l’absence de paiement par le client·e·s) et/ou pour répondre aux demandes des autorités publiques et gouvernementales. </p>

    <h3>3. Comment gérer la collecte et l’utilisation de vos données ?</h3>
    <p>Vous pouvez à tout moment accéder à vos données, les rectifier, demander leur suppression, vous opposer à un traitement pour des motifs légitimes en raison de votre situation particulière ou encore exercer votre droit à la portabilité de vos données, en envoyant un e-mail et un justificatif de votre identité à l’adresse : contact<i class="fas fa-at"></i>asso-abeilles.fr, adresse dédié à la Protection des Données personnelles.
    En cas de réclamation à laquelle Abeilles Aide et Entraide ne vous aurait pas donné de réponse satisfaisante, vous pouvez vous adresser à la Commission Nationale de l’Informatique et des Libertés (CNIL) en charge du respect des obligations en matière de données personnelles. </p>

    <h3>4. De quelle façon la sécurité de vos données est assurée ?</h3>
    <p>Abeilles Aide et Entraide met en œuvre les actions nécessaires afin de protéger les données personnelles qu’elle traite. Vos données sont traitées de façon électronique et/ou manuelle et en tout état de cause, de façon à ce que leur sécurité, protection et confidentialité soient assurées au regard de leur niveau de sensibilité, via des mesures techniques et physiques pour prévenir la perte, le vol, l’utilisation, la divulgation ou encore la modification non-autorisées. </p>

    <h3>5. Qui peut avoir accès à vos données personnelles</h3>
    <p>Vos données personnelles sont traitées par Abeilles Aide et Entraide, ses partenaires, pour les besoins de la gestion du contrat et de l’exécution des prestations que vous avez demandées.
    Sur demande, elles peuvent également être transférées aux personnes et autorités dont le droit d’accès aux données à caractère personnel est reconnu par la loi, les règlements ou les dispositions émanant d’autorités habilitées par la loi. </p>
</div>

{% endblock %}