<h2 class="title h2">Nous trouver, nous contacter</h2>
<div class="address-box center grid" style="--grid-template:auto / 1fr 1fr">
    <address class="adress">
        <b>Contact Val de Seine</b><br>
        <b>DRAVEIL</b><br>
        125 rue Ferdinand Buisson<br>
        <a href="tel:+33169423110"><b>01 69 42 31 10</b></a>
    </address>
    <address class="adress">
        <b>Contact Val d’Yerres</b><br>
        <b>ÉPINAY-SOUS-SÉNART</b><br>
        12 rue du Levant<br>
        <a href="tel:+33160473555"><b>01 60 47 35 55</b></a>
    </address>
</div>
{# https://umap.openstreetmap.fr/fr/map/abeilles-aide-et-entraide_629227 #}
<iframe aria-label="Carte geographique interactive" role="application" class="iframe" width="100%" height="100%" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/fr/map/abeilles-aide-et-entraide_629227?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=true&datalayersControl=false&onLoadPanel=none&captionBar=false&fullscreenControl=true&locateControl=false&measureControl=false&editinosmControl=false#11/48.7052/2.4620"></iframe>