{% load static %}

<h2 class="title center h2">Abeilles Aide et Entraide est soutenue par</h2>
<!-- <ol class="support-box">
    <li class="support"><img class="logo" src="{% static 'img/support/engage.png' %}" alt="L'europe s'engage"></li>
    <li class="support"><img class="logo" src="{% static 'img/support/essone.png' %}" alt="Essonne departement"></li>
    <li class="support"><img class="logo" src="{% static 'img/support/rfrance.png' %}" alt="Republique francaise"></li>
    <li class="support"><img class="logo" src="{% static 'img/support/feurope.png' %}" alt="Fond social europeen"></li>
</ol> -->
<picture style="display: block;text-align: center;">
    <source srcset="{% static 'img/support_client/soutiens_mini.png' %}" media="(max-width: 1250px)">
    <img src="{% static 'img/support_client/soutiens.png' %}" alt="Nos soutiens" class="logo">
</picture>